
# ignore VIM editor files
.*.swp


# ignore packaged files
*.gz
*.iso
*.jar
*.rar
*.tar
*.tgz
*.zip


# ignore log files
*.log


# ignore OS X specific files
*.dmg

# Ignore sass-cache files.
*.sass-cache*

# Ignore Sass source map files.
*.css.map

